[submodule "MetricsReloaded"]
	path = MetricsReloaded
	url = git@github.com:ml-in-programming/MetricsReloaded-gradle.git
[submodule "ApemanPlugin/MetricsReloaded"]
	path = ApemanPlugin/MetricsReloaded
	url = https://github.com/ml-in-programming/MetricsReloaded-gradle.git
